__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.git
.gitignore
.DS_Store
config/*.db*
config/*.db-journal
config/*.db-wal
config/*.db-shm
!config/.gitkeep
downloads/*
!downloads/.gitkeep
music/*
!music/.gitkeep
*.log
*.db*
